---
layout: asset-lister
title: OpenSpace Addons
menuListing: osaddons
description: OpenSpace addons created by us
permalink: /OpenSpace-Addons/
sitemap:
    priority: 0.7
    lastmod: 2023-06-01
    changefreq: weekly
---

<p>Our collection of bespoke assets and other helpful addons for OpenSpace</p>

<!-- <div class="row row-cols-1 row-cols-md-2"> -->
  {% assign subjectgroups = site.categories.openspaceaddons | group_by: "group" | sort: "name" %}

  {% for item in subjectgroups %}


<h2 id="{{item.name}}" style="text-transform: capitalize;">{{ item.name }}</h2>




    {% assign topicgroups = item.items | group_by: "topics" %}

    {% for item in topicgroups %}

    <h3 id="{{item.name}}" class="topic">{{item.name}}</h3>
  <div class="row">



      {% for addon in item.items %}
      <div class="card mb-2 mr-2 ml-2 border-dark bg-dark" style="max-width: 520px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            {% if addon.thumb %}
            <img src="{{site.baseurl}}/OpenSpaceAddons/images/{{addon.thumb}}"  alt="...">
            {% else %}
            <img src="..." class="img-fluid rounded-start" alt="...">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{addon.name}}</h5>
              <p class="text-dark"><a href="{{ addon.url | absolute_url }}" class="btn btn-primary">more &rarr;</a></p>
              <!-- <p class="card-text">{{post.URL}}</p> -->
              <p class="card-text"><small class="text-muted">Published: {{addon.dateadded}}</small></p>
            </div>
          </div>
        </div>
      </div>


         

      {%endfor%}
</div>
    {%endfor%}

{%endfor%}


</div>
