
<div class="py-5 border-top">
  <div class="container">

  <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled icons alt">
          {%- if site.youtube_username -%}
          <li><a href="http://www.youtube.com/channel/UCK0idWfnwPocnlCwhJoxMng" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
          {%- endif -%}
          {%- if site.facebook_username -%}
          <li><a href="https://facebook.com/{{site.facebook_username}}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          {%- endif -%}
          {%- if site.instagram_username -%}
          <li><a href="https://instagram.com/{{site.instagram_username}}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          {%- endif -%}
          {%- if site.twitter_username -%}
          <li><a href="https://twitter.com/{{site.twitter_username}}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          {%- endif -%}
          {%- if site.github_username -%}
          <li><a href="https://github.com/{{site.github_username}}" class="icon fa-github"><span class="label">Github</span></a></li>
          {%- endif -%}
        </ul>
      </div>


      <div class="col-sm text-right">
        {%- if page.imagecredit -%}
        <p class="small" style="color: #FFA866;">Background image: </p>
        <p  class="small"> {{page.imagecredit}}</p>
        {%- endif -%}
      </div>

    </div>

  </div>
</div>
