<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-lavender">
  <div class="container">
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <!-- {%- assign page_paths = site.header_pages -%} -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if page.url contains 'about' %} active {% endif %}"><a class="nav-link" href="{{ "/about.html" | absolute_url }}">About</a></li>
        <li class="nav-item {% if page.url contains 'contact' %} active {% endif %}"><a class="nav-link" href="{{ "/contact.html" | absolute_url }}">Contact</a></li>
        <li class="nav-item "><a class="nav-link {% if page.url contains 'technical' %} active {% endif %}" href="{{ "/technical.html" | absolute_url }}">Technical</a></li>
        <li class="nav-item "><a class="nav-link {% if page.url contains 'terrain-catalog' %} active {% endif %}" href="{{ "/terrain-catalog/index.html" | absolute_url }}">Mars Terrains</a></li>
        <li class="nav-item {% if page.url contains 'people' %} active {% endif %}"><a class="nav-link" href="{{ "/people.html" | absolute_url }}">People</a></li>
        <li class="nav-item {% if page.url contains 'blog' %} active {% endif %}"><a class="nav-link" href="{{ "/blog.html" | absolute_url }}">Posts</a></li>
        <!-- {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.menuListing -%}
          <li class="nav-item">
            <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.menuListing | escape }}</a>
          </li>
          {%- endif -%}
        {% endfor -%} -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{ site.github.repository_url }}">Fork me on Github</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
