<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->

{%- include ga.html -%}

 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- seo -%}
  <meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ccnyplanetarium">
<meta name="twitter:creator" content="@ccnyplanetarium">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="CCNY Planetarium">
  {% if page.image %}
  <meta name="twitter:image" content="https://ccnyplanetarium.org/{{page.image}}">
  {% else %}
<meta name="twitter:image" content="https://ccnyplanetarium.org/assets/images/logo-2019-black-bg-sq.png">
{% endif %}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Open+Sans&family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.0/css/magnify.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.0/js/jquery.magnify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.0/js/jquery.magnify-mobile.min.js"></script>

</head>
