<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  {%- include ga.html -%}
  <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ccnyplanetarium">
<meta name="twitter:creator" content="@ccnyplanetarium">
<meta name="twitter:title" content="OpenSpace Addon: {{ page.name }}">
<meta name="twitter:description" content="{{page.description}}">
<meta name="twitter:image" content="https://ccnyplanetarium.org/OpenSpaceAddons/images/{{page.mainimage}}">
   {%- seo -%}
   <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

   <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
   <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>

   <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Open+Sans&family=Righteous&family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
 
</head>

  <body class="galleryBackground">


    {%- include header.html -%}

    <div class="p-2">
      <div class="container  page-content">
          <h1 class="text-white">{{ page.name }}</h1>
          <figure class="figure col-lg-8 col-sm-12">
            <img class="addonMainImage" src="{{site.baseurl}}/OpenSpaceAddons/images/{{page.mainimage}}" alt="{{page.description}}">
            <figcaption class="figure-caption">{{page.caption}}</figcaption>
          </figure>
          
          <h3>Description</h3>
          <p class="text-white">{{page.description}}</p>
          {% if page.examplevideo %}
          <h4>Video Example:</h4>
          <video controls width="400px" src="{{site.baseurl}}/OpenSpaceAddons/videos/{{page.examplevideo}}"></video>
          
          {% endif %}

          {% if page.html-embed %}
          <div class="col-lg-8 col-sm-12">
            <iframe src="{{site.baseurl}}/OpenSpaceAddons/htmlpages/{{page.html-embed}}" frameborder="0" height="400px" width="800px"></iframe>

          </div>
          
          
          {% endif %}

          <h3>Instructions</h3>
          
          
          <p class="text-white">{{page.instructions}}</p>
          <h3>Download Link</h3>
          <p class="text-white"><a target="_blank" href="{{page.downloadURL}}" class="btn btn-primary">{{page.downloadOBJECT}}</a></p>
          {% if page.credit %}
          <p class="text-white">Credit: {{page.credits}}</p>
          {% endif %}
          <hr>
          <p class="text-white">Date Added: {{page.dateadded}}</p>
          <p class="text-white">Tested with OS Version: {{page.osversion}}</p>
          <p><a href="{{site.baseurl}}/OpenSpace-Addons/" class="btn btn-info">&larr; Back to Catalog</a></p>
      </div>
      
    </div>
    
    {%- include footer.html -%}

  </body>

</html>
