---
layout: default
---
<!-- Post -->

						{% for post in site.posts %}
						{% assign mod3 = forloop.index | modulo: 3 %}
<div class="row mb-5">
									<a href="{{ post.url | absolute_url }}" class="col-3">
										<img src="{{ post.image | absolute_url }}" alt="" />
									</a>

									<div class="col-9">
									<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
									<h6>{{ post.date | date_to_string }}</h6>
									<p>{{ post.excerpt }}</p>
									<a href="{{ post.url | absolute_url }}" class="btn btn-primary">Read More</a></li>
									</div>

</div>


						{% endfor %}
