---

---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="galleryBackground">
    <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
    {%- include header.html -%}

    <div class="p-2">
      <div class="container  page-content">
        <h1 class="text-white">Image Gallery</h1>
            {{ content }}

      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
